* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
 
.contenedor {
	background:#ccc;
	width:90%;
	max-width:1000px;
    margin:auto;
    
 
	/* Flexbox */
	display:flex;
	flex-flow:row wrap;
}
 
body {
    /*background:#e9e9e9;*/
    background: rgba(0,0,0,0.25);
}
 
header {
	background:#2c3e50;
	width:100%;
	padding:20px;
 
	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
 
	flex-direction:row;
	flex-wrap:wrap;
}
 
header .logo {
	color:#fff;
    font-size:30px;

}
 
header .logo img {
	width:50px;
	vertical-align: top;
}
 
header .logo a {
	color:rgb(224, 147, 147);
    text-decoration: double;
    text-decoration: blanchedalmond;
    line-height:50px;
    text-align: center;
    padding-top: 10px;
}
 
header nav {
	width:50%;
	/* Flexbox */
 
	display:flex;
	flex-wrap:wrap;
    align-items:center;
    /*border-radius: 25px;*/
}
 
header nav a {
    /*background:#c0392b;*/
    background:rgba(194, 48, 48, 0.8);
    /*border:1px solid black;*/
    color:#fff;
	text-align: center;
    text-decoration: none;
    border-radius: 2px;
    padding:10px;
 
	/* Flexbox */
	flex-grow:1;
}
 
header nav a:hover {
	background:#e74c3c;
}
 
section {
	background:#fff;
	padding:20px;
    flex:3;
}

 
main {
	/*margin-bottom: 20px;
	padding-bottom:20px;
	border-bottom:1px solid #000;*/
	flex:1;
}
/* 
.main article:nth-last-child(1){
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}*/

/*dentro del section*/
.products {
	display: flex;
	flex-wrap: wrap;
}
.products1{
	display:flex;
	flex-wrap: nowrap;
}	

.product-card {
	display: flex;
	flex-direction: column;
	
	padding: 2%;
	flex: 1 16%;
	
	background-color: #FFF;
	box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}
.product-card1{
	display: flex;
	padding: 2%;
	flex-direction: row;
	justify-content: flex-start;

}

.product-image img  {
	width: 100%;
}
.product-image1 img{
	width: 100%;
	flex:1;
}

.product-info {
	margin-top: auto;
	padding-top: 20px;
}
.product-info1 {
	margin-top: auto;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 60px;
	
	flex:2;
	text-align: start;
	
}

aside {
	background:#e67e22;
	padding:20px;
	/*FLEX*/
	/*flex:1 1 30%;
	/*flex:0 0 300px;*/
 
    display: flex;
    flex:1;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:space-around;
}
 
aside .widget {
	background: #d35400;
	height:200px;
    margin:10px;
          
}

aside .widget {
	display: flex;
	align-items:center;
	
}

aside video{
	width:100%;
	height:auto;
	max-height:100%;  
}

aside .widget img{
	display: block;
    border-radius:25px;
	width:100%;
	height:auto;
	max-height:100%;
    padding:10px;
         
}

footer {
	background:#2c3e50;
	width: 100%;
	padding:20px;
 
	/* Flexbox */
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
footer small{
    align-self: center;
}

 
footer .social a {
    color:#fff;
    border-radius: 25px;
	text-decoration: none;
	padding:10px;
	display: inline-block;
}

.imgredonda{
    border-radius:25px;
    border:2px solid #666;
 }
 .imgheader{
    border-radius:200px;
    border:2px solid #666;
 }
 
 
@media screen and (max-width: 800px) {
	.contenedor {
		flex-direction:column;
	}
 
	header {
		flex-direction:column;
		padding:0;
	}
 
	header .logo {
		margin:20px 0;
	}
 
	header nav {
		width: 100%;
	}
 
	aside {
		flex-direction:row;
		flex:0;
	}
 
	aside .widget {
		flex-grow:1;
	}
}
 
@media screen and (max-width: 600px) {
	aside {
		flex-direction:column;
	}
 
	footer {
		justify-content:space-around;
	}
}
@media ( max-width: 920px ) {
	
	.product-card, .product-card1 {
		flex: 1 21%;
	}
	
	.products .product-card:first-child, 
	.products .product-card:nth-child(2) {
		flex: 2 46%;
	}
	.products1 .product-card1:first-child, 
	.products1 .product-card1:nth-child(2) {
		flex: 2 46%;
	}
	
}

@media ( max-width: 600px ) {
	
	.product-card, .product-card1 {
		flex: 1 46%;
		flex-direction: column;
	}

}

@media screen and (max-width: 414px) {

	.product-card1{
		display:flex;
		flex-direction: column;
		background-color: red;
	}	

}