@media only screen and (max-width: 320px){
  form {
    background-color: pink;
  }
}

/* flexboxform.css */
form label, input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
