
.fondo{
  background-color: #000000;
}
.borderm {
  border: black solid 3px;
}
.btlila{
  background-color: #E6007E;
}
.fondo1{
  background-color: #F7931E;
}
.fondo2 {
  background: white;
}
p{
  font-family:'Cambria, Cochin, Georgia, Times, Times New Roman, serif ';
}

/*estilo nuevo para formulario*/

* {
  box-sizing: border-box;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  margin-right: 10px;
  border: 2px solid rgb(250, 172, 84);
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 70px;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #ecb419;
}

#hongkiat-form input#fname {
  background: #fff url('images/user.png') 5px 4px no-repeat;
  }
  #hongkiat-form input#femail {
  background: #fff url('images/email.png') 5px 4px no-repeat;
  }
  #hongkiat-form input#website {
  background: #fff url('images/website.png') 5px 4px no-repeat;
  }
  #hongkiat-form input#telephone {
  background: #fff url('images/phone.png') 5px 4px no-repeat;
  }
  #hongkiat-form textarea.txtblock {
    background: #fff url('images/speech.png') 5px 4px no-repeat;
    }

.container {
  border-radius: 5px;
  /* background-color: #facb96; */
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



/*fin*/


.footer{


width: 100%;
}


.topnav {
  overflow: hidden;

;
}

.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;

}

.dropdown .dropbtn {
  font-size: 14px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: center;
  background-color: transparent;
  min-width: 145px;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float:  none ;
  color: white;
  padding: 12px 16px;
  text-decoration:  none;
  display: block;
  text-align: right;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  text-decoration:  none  #F7931E;
border-bottom: 2px solid  #F7931E;
  color: white;
}

.dropdown-content a:hover {

  color: #F7931E;;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display:  none;
  }
  .topnav a.icon {
    float: left;
    display: block;

  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;

  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: center;

  }
  .topnav.responsive .dropdown-content {position: relative;}

  .topnav.responsive .dropdown {float: none;}
}

.bordecolor{
  border-color: #EA8413;
}
.colorletra1{
  color: white;
}
.letras{
  font-size: 15px;
  font-family: Richela Kids;
}
div {
  align-items: center;
  justify-content: center;

}
.letra1{
  font-size: 20px;
  text-align: center;
  font-family: Richela Kids;

}
.letra{
  font-size: 15px;
  text-align: center;
  font-family: Richela Kids;

}
.colorletra{
  color: black;
}

.color2{
  color: #F7931E;
}
.fondo1{
  background: #F7931E;
}
.letras{
  font-size: 10px;
  font-family: Richela Kids;
}
.a{
  color: white;
}
#oferta{
  margin-top: 100px;
  background: black;
}

.mt{
  background: black;
}

.tamaño{
  width: 100px;
  height: 150px;
}

.letra2{
  font-size: 12px;
  font-family: Richela Kids;
}



video {
  border-radius: 10px;
   border: 5px  #000000 solid;
}

video:hover {
  border-radius: 5px;
   border: 5px #00AAE4 inset;
}

.video1{
  border-radius: 0px 0px 0px 0px;
   border: 3px  #F7931E solid;
}

.hover{
  border-radius: 0px 0px 0px 0px;
   border: 3px  #F7931E solid;
}

/* form{
  width: 400px;
  padding: 16px;
  border-radius: 10px;
  border: 5px black solid;
  margin: auto;
  background-color:white;
} */

/* form input[type="submit"]:hover{
  cursor: pointer;

} */

/* flexboxform.css */
/* form label, input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}

form textarea {
  flex: 1 0 220px;
  width: 200px;
  border-radius: 10px;

}

.boton {
  width: 200px;
  align-self: flex-end;
  margin-right: auto;
  padding: 8px 16px;
  border: #F7931E;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
} */

.f {
  background-color: #DEDEDE;
}


.body {
  width: 100%;
  background-color: #b3b3b3;
}

.flotante {
border: 2px lightblue inset;
background: white;

}

.caja{
border: 1px lightblue dashed;
}

.flotante1 {
  background-color:lightgreen;
  box-shadow: 0px 3px 6px 6px black;
  line-height: 28px; /* aumenta el interlineado en el texto*/
}

.texto{
  font-size: 14px;
  font-family: Paloseco Medium;
}
.texto1{
  font-size: 12px;
  font-family: Paloseco ;
}
.texto2{
  font-size: 16px;
  font-family: Paloseco ;
}
.texto3{
  font-size: 30px;
  font-family: Paloseco Medium;
}
.texto4{
  font-size: 13px;
  font-family: Paloseco Medium;
  margin-left: auto;
  margin-right: auto;
}

.texto5 {
  font-size: 12px;
  font-family: Paloseco;
  margin-left: auto;
  margin-right: auto;
}

.mapa {
  border-radius: 50px;
  border-color: #F7931E;
}

.fondo3{
  background: white;
}



.indicador1 {
    align-items: center;

}
