@charset "utf-8";


	.left_article {
	background-color: #FFFFFF;
	width: 100%;
	float: left;
	font-family: "lato";
	color: #343434;
	padding-bottom: 15px;
}
        input:valid,
        textarea:valid {
            background-color:#D5D5DF;
        }

        input:invalid,
        textarea:invalid {
            background-color:#D5D5DF;
        }
		.segundo-td{
			text-align: left;
		}

