* {
	padding: 0;
	margin: 0;
  font-family: 'Raleway', sans-serif;
	text-align: center;
}

form {
	padding: 50px 20px;
	background-color: #ededed;
	margin: calc(25% + 100px);
	margin-top: 70px;
	padding-top: 28px;
	margin-bottom: 30px
}
body {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.7;
  color: #828282;
  background-color: #ffffff;
}
placeholder{
	color: #000000;
}
h1 {
	text-align: center;
	padding: 12px;
	color: #000000;
}

input {
	width: calc(100% - 20px);
	padding: 9px;
	margin: auto;
	margin-top: 12px;
	font-size: 16px
}

input[type='submit']{
	background-color: #000;
	color: #fff;
	width: calc(80% - 20px);
	margin: 0 10%;
	margin-top: 22px;
	border: none;
}


.ok {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #40923D;
	color: #fff
}
.bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: #fff
}
