/* Index */

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

.style_banner_text{
  color: yellow !important;
}

.styles_windows {
  width: 90%;
}

@media only screen and (max-width: 1400px) {
  .styles_windows {
    height: 100% !important;
    width: 90% !important;
    margin-top: -15px !important;
    margin-bottom: 0px !important;
    margin-left: 20px !important;
    margin-right: 10px !important;
  }
}

.contorn {
  margin-bottom: 90px !important;
}

@media only screen and (max-width: 1500px) {
  .contorn {
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.banner_index{
  height: 300px !important;
  margin-left: 0% !important;
  width: 100% !important;
  border-radius: 8px !important;
  margin-bottom: 20px !important;
  margin-top: -20px !important;
}


.spaces_cite {
  width: 100% !important;
  color: white;
  padding-top: 20px !important;
  padding-bottom: 3px !important;
  margin-top: -250px !important;
}

@media only screen and (max-width: 1000px) {
  .spaces_cite {
    width: 100% !important;
    color: darkgray;
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.author{
  color: yellow !important;
  padding-top: 20px !important;
  padding-bottom: 3px !important;
  margin-top: -150px !important;
}

@media only screen and (max-width: 1000px) {
  .author {
    width: 100% !important;
    color: darkgray !important;
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.spaces_01{
  margin-top: 7% !important;
}

/* La Escuela */

.back {
  background-color: lavender;
  border-radius: 8px;
  width: 100% !important;

  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media only screen and (max-width: 700px) {
  .back {
    width: 100% !important;
    margin-top: -15px !important;
    margin-bottom: 40px !important;
  }
}

video {
  width: 100%;
  border-radius: 8px;
  margin-top: 8% !important;
}

@media only screen and (max-width: 800px) {
  video {
    width: 100% !important;
    margin-top: 80px !important;
  }
}

@media only screen and (max-width: 700px) {
  video {
    width: 100% !important;
    margin-top: 20px !important;
  }
}


.styles_square {
  padding-top: 7% !important;

}

@media only screen and (max-width: 800px) {
  .styles_square {
    width: 50% !important;
    margin-bottom: 10px !important;
  }
}

@media only screen and (max-width: 700px) {
  .styles_square {
    width: 100% !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}

.fondos{
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 3px !important;
  border-radius: 8px;
}

@media only screen and (max-width: 1400px) {
  .fondos {
    height: 100% !important;
    width: 100% !important;
    margin-top: -15px !important;
    margin-bottom: 50px !important;
  }
}

.styles_panel {
  background-color: orange !important;
  padding-top: 4px !important;
  padding-bottom: 0px !important;
}

.styles_panel_2 {
  background-color: darkorange !important;
  padding-top: 4px !important;
  padding-bottom: 0px !important;
}

.styles_panel_3 {
  background-color: mediumaquamarine !important;
  padding-top: 4px !important;
  padding-bottom: 0px !important;
}

@media only screen and (max-width: 1000px) {
  .styles_panel_text{
    font-size: 100% !important;
  }
}


/* Contacto */


  iframe {
    height: 370px !important;
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 50px !important;
  }

@media only screen and (max-width: 800px) {
  iframe {
    height: 440px !important;
    width: 100% !important;
    margin-top: 0px !important;
    margin-bottom: 50px !important;
  }
}

.style_formulario {
  width: 100%;
  padding-top: 20px !important;
  padding-bottom: 0px !important;
  border-radius: 8px;
  background-color: sandybrown;
  margin-top: 50px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

@media only screen and (max-width: 1400px) {
  .style_formulario {
    width: 100% !important;
    margin-top: -15px !important;
    margin-bottom: 50px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.style_buttom {
  background-color: #48C9B0;
  color: white;
  margin-top: 0px !important;
  margin-bottom: -40px !important;
}

@media only screen and (max-width: 1400px) {
  .style_buttom {
    margin-top: -5px !important;
    margin-bottom: -9px !important;
  }
}

.style_buttom_2 {
  color: DARKSLATEGRAY;
  border-color: DARKSLATEGRAY !important;
  margin-top: 0px !important;
  margin-bottom: -40px !important;

}

@media only screen and (max-width: 1400px) {
  .style_buttom_2 {
    margin-top: -5px !important;
    margin-bottom: -9px !important;
  }
}

.text_formulario {
  color: white;
  margin-left: 40px;
}

.text_formulario_2 {
  color: white;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
}

.text_formulario_3 {
  color: white;
  margin-left: 0px !important;
}

@media only screen and (max-width: 700px) {
  .text_style {
    width: 100% !important;
    margin-top: -15px !important;
    margin-bottom: 50px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

.spaces_menssage {
  margin-top: -20px !important;
  padding-bottom: 40px !important;
}

/* Bachillerato */

.banner {
  margin-top: 6% !important;
}




/* Ciclos */

.centrado {
  margin-left: 6% !important;
  margin-bottom: 10% !important;
}

@media only screen and (max-width: 1000px) {
  .centrado {

  }
}

@media only screen and (max-width: 700px) {
  .centrado {
    margin-top: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
  }
}


.style_cicle {
  background-color: #FDEBD0 !important;
  width: 70% !important;
  border-radius: 8px;
  margin-left: 10% !important;
}

@media only screen and (max-width: 700px) {
  .style_cicle {
    width: 80% !important;
    margin-bottom: 7% !important;
    padding-bottom: 2% !important;
  }
}

@media only screen and (min-width: 1000px) {
  .style_cicle {
  width: 26.6% !important;
  padding-bottom: 25% !important;
  margin-left: 63.3% !important;
  margin-top: -37.3% !important;
  margin-bottom: 4% !important;
  }
}


  .style_cicle_2 {
    background-color: #D1F2EB  !important;
    width: 70% !important;
    border-radius: 8px;
    margin-left: 10% !important;
  }

@media only screen and (max-width: 700px) {
  .style_cicle_2 {
    width: 80% !important;
    margin-bottom: 10% !important;
    padding-bottom: 2% !important;
  }
}

@media only screen and (min-width: 1000px) {
  .style_cicle_2 {
    width: 26.6% !important;
    padding-bottom: 25% !important;
    margin-left: 10% !important;
    margin-top: 0% !important;
    margin-bottom: 4% !important;

  }
}

.style_cicle_3 {
  background-color: #EBDEF0  !important;
  width: 80% !important;
  border-radius: 8px;
  margin-bottom: 4% !important;
}

@media only screen and (max-width: 700px) {
  .style_cicle_3 {
    width: 80% !important;
    padding-bottom: 2% !important;
    margin-bottom: 10% !important;

  }
}


.style_cicle_4 {
  background-color: #D5F5E3 !important;
  width: 70% !important;
  border-radius: 8px;
  margin-left: 10% !important;
}

@media only screen and (max-width: 700px) {
  .style_cicle_4 {
    width: 80% !important;
    padding-bottom: 2% !important;
    margin-bottom: 10% !important;
  }
}

@media only screen and (min-width: 1000px) {
  .style_cicle_4 {
    width: 53% !important;
    padding-bottom: 25% !important;
    margin-bottom: 4% !important;
    margin-left: 10% !important;

  }
}

.style_cicle_5 {
  background-color: #FADBD8  !important;
  width: 70% !important;
  border-radius: 8px;
  margin-left: 10% !important;
}

@media only screen and (max-width: 700px) {
  .style_cicle_5 {
    width: 80% !important;
    margin-bottom: 10% !important;
    padding-bottom: 2% !important;
  }
}

@media only screen and (min-width: 1000px) {
  .style_cicle_5 {
  width: 53% !important;
  padding-bottom: 25.1% !important;
  margin-left: 37% !important;
  margin-top: -37.3% !important;
  margin-bottom: 4% !important;
  }
}

@media only screen and (min-width: 1000px) {
  .correct {
  width: 50% !important;
  margin-bottom: 30px !important;
  }
}




h5{
color: #273746 !important;
padding-top: 30px !important;
padding-bottom: 50px !important;
}

h4{
padding-top: 10px !important;
padding-bottom: 10px !important;
}

.squares{
  width: 70% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.component{
  width: 100% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.titles{
  margin-top: 5% !important;
  padding-bottom: 1% !important;
  padding-top: 1% !important;
  color: #48C9B0;
}

.medio{
width: 30% !important;
background-color: #EBDEF0 !important;
border-radius: 8px;
padding-top: 3% !important;
margin-bottom: 12% !important;
margin-left: 13.5% !important;
padding-bottom: 1.5% !important;
}

@media only screen and (max-width: 700px) {
  .medio {
    width: 80% !important;
    padding-top: 9% !important;
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    padding-bottom: 1% !important;
  }
}

/* Enseñanzas */

.colors{
width: 26.6% !important;
background-color: #FDEBD0 !important;
border-radius: 8px;
padding-top: 3% !important;
margin-bottom: 4% !important;
margin-left: 5% !important;
padding-bottom: 1% !important;
}

@media only screen and (max-width: 700px) {
  .colors {
    width: 80% !important;
    padding-top: 9% !important;
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    padding-bottom: 1% !important;
  }
}

.colors_2{
width: 26.6% !important;
background-color: #D5F5E3 !important;
border-radius: 8px;
padding-top: 3% !important;
margin-bottom: 4% !important;
margin-left: 6% !important;
padding-bottom: 1% !important;
}

@media only screen and (max-width: 700px) {
  .colors_2 {
    width: 80% !important;
    padding-top: 9% !important;
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    padding-bottom: 1% !important;
  }
}

.colors_3{
width: 26.6% !important;
background-color: #EBDEF0 !important;
border-radius: 8px;
padding-top: 3% !important;
margin-bottom: 4% !important;
margin-left: 6% !important;
padding-bottom: 1% !important;
}

@media only screen and (max-width: 700px) {
  .colors_3 {
    width: 80% !important;
    padding-top: 9% !important;
    margin-bottom: 10% !important;
    margin-left: 10% !important;
    padding-bottom: 1% !important;
  }
}


.gallery{
  margin-left: 12% !important;
}

.propor{
  width: 350px !important;
  margin-bottom: 20% !important;
  border-radius: 8px !important;
}

.propor_2{
  width: 350px !important;
  border-radius: 8px !important;
  margin-bottom:50% !important;
}

@media only screen and (max-width: 700px) {
  .gallery{
    margin-left: 0% !important;
    margin-top: 30% !important;
  }

  .propor{
    width: 100% !important;
    margin-bottom: 20% !important;
  }

  .propor_2{
    width: 100% !important;
    margin-bottom:20% !important;
  }
}
